

<div class="index_header">
  <h3>Guitar Models</h3>
  <%= form_tag(products_path, method: "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
    <%= submit_tag "Search" %>
  <% end %>
  <% if !@products.present? %>
    <p>There are no products containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>

<table >
  <tr>
    <th>Guitar model</th>

  </tr>

  <% @products.each do |product| %>
    <tr>
      <td class="product-list"><%=link_to product.name, product %></td>
      <td class="product-list"><%= product.description %>
      <% if current_user && current_user.admin? %>
        <td class="product-list"><p>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Delete', product_path(product),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></p></td>
         <% end %>
    </tr>
  <% end %>
</table>
