<p>
  <strong>Product:</strong>
  <%= @product.name %>
</p>

<p>
  <%= image_tag "#{@product.image_url}", class: "product-pic" %>
</p>

<p>
  <strong>Product description:</strong>
  <%= @product.description %>
</p>
<% if current_user && current_user.admin? %>
  <p><%= link_to 'Edit', edit_product_path(@product) %></p>
<% end %>

<%= render "products/user_authorized_restricitons.html.erb" %>


<p></p>
<h3>Product reviews:</h3>
<ul id = reviews >
  <%= render "products/reviews.html.erb" %>
</ul>
